<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Asteroid -->
    <bean id="asteroidsControlSystem" class="dk.sdu.mmmi.cbse.asteroid.AsteroidControlSystem" />
    <bean id="asteroidsPlugin" class="dk.sdu.mmmi.cbse.asteroid.AsteroidPlugin" />
    <bean id="asteroidSplitter" class="dk.sdu.mmmi.cbse.asteroid.AsteroidSplitter" />
    <!-- Asteroid -->

    <!-- Collision -->
    <bean id="collision" class="dk.sdu.mmmi.cbse.collision.Collider" />

    <!-- Player -->
    <bean id="playerControlSystem" class="dk.sdu.mmmi.cbse.playersystem.PlayerControlSystem" />
    <bean id="playerPlugin" class="dk.sdu.mmmi.cbse.playersystem.PlayerPlugin" />

</beans>